ul {
    list-style-type: none;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

li {
    float: left;
}

img {
    margin-right: 30px;
}

.grid {
    display:grid;
    grid-template-rows: 1fr 10fr 1fr;
}

.header {
    display:inline;
    position: absolute;
    right: 0px;
    justify-content: center;   
}

#websites {
    width: 500px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    text-align: center;
}
#logo {
    height:50%;
    width:50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#profile {
    height:50px;
    width:50px%;
    border-radius: 50%;
}

#content {
    display: block;
    justify-items: center;
}

input[type=text] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    height: 40px;
    width: 500px;
}

input[type=text]::-webkit-input-placeholder {
    font-size: 30px;
    padding-left: 4px;
    padding-top: 3px;
}

a:hover {
    text-decoration: underline;
}